In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('city geos.csv')
df

               City  Latitude  Longitude
0         San Diego     32.82    -117.13
1         Escondido     33.13    -117.07
2             Hemet     33.74    -116.99
3      Palm Springs     33.80    -116.54
4         Riverside     33.94    -117.39
..              ...       ...        ...
75           Lompoc     34.64    -120.45
76  Sugar Bunker NV     36.84    -115.96
77        Lone Pine     36.60    -118.06
78     Mt Hebron CA     41.79    -122.00
79    Unionville NV     40.44    -118.12

[80 rows x 3 columns]

In [7]:
df['City'].tolist()

['San Diego',
 'Escondido',
 'Hemet',
 'Palm Springs',
 'Riverside',
 'Ontario',
 'San Bernardino',
 'Irvine',
 'San Juan Capistrano',
 'Anaheim',
 'La Habra',
 'Long Beach',
 'Los Angeles',
 'Azusa',
 'Glendale',
 'Pasadena',
 'San Fernando',
 'Santa Clarita',
 'Ventura',
 'Santa Barbara',
 'San Luis Obispo',
 'Bakersfield',
 'Fresno',
 'San Jose',
 'Fremont',
 'San Francisco',
 'Salinas',
 'Oakland',
 'San Ramon',
 'Walnut Creek',
 'Richmond',
 'Napa',
 'Sacramento',
 'Roseville',
 'Bishop',
 'Redding',
 'Reno',
 'Las Vegas',
 'Antelope Peak NV',
 'Yuma AZ',
 'Death Valley',
 'Yosemite',
 'Ukiah, CA',
 'Willits, CA',
 'Cottage Grove CA',
 'Eureka CA',
 'El Centro CA',
 'Hawthorne NV',
 'Ridgecrest CA',
 'Barstow CA',
 'Bonne Claire NV',
 'Warm Springs NV',
 'King City NV',
 'Honey Lake CA',
 'Fallon NV',
 'Hayfork Ca',
 'Chico',
 'Pyramid Lake NV',
 'Avenal CA',
 'Crystal Springs NV',
 'San Clemente Island',
 'Round Mtn NV',
 'Battle Mtn NV',
 'Twenty Nine Palms',
 'Fort Irwin CA',
 'Palermo CA',
 'Topaz Lake NV',
 'Mojave Desert',
 'Kernville',
 'Lake Amanor CA',
 'Hamilton NV',
 'Modesto',
 'Stockton',
 'Santa Rosa Isalnad',
 'Jarbridge NV',
 'Lompoc',
 'Sugar Bunker NV',
 'Lone Pine',
 'Mt Hebron CA',
 'Unionville NV']

In [8]:
import math

math.sin(30)

-0.9880316240928618